/** @define logo */

.logo {
  @media (min-width: 1024px) {
    position: absolute;
    width: 422px;
    height: 100%;
    background: url(bodyguard.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
