.checkbox--secure {
  flex: 70%;
}

.button--signin {
  flex: 30%;
}

.passcode {
  text-align: center;
}

.passcode__title {
  vertical-align: middle;
}

.passcode__value {
  margin-left: 0.4em;
  vertical-align: middle;
  letter-spacing: 0.4em;
  font-family: 'robotoblack';
  font-size: 1.8em;
  color: #ff0;
}
