/** @define passcode */

.passcode {
  text-align: center;

  &__title {
    vertical-align: middle;
  }

  &__value {
    margin-left: 0.4em;
    vertical-align: middle;
    letter-spacing: 0.4em;
    font-family: 'robotoblack';
    font-size: 1.8em;
    color: #ff0;
  }
}
