.button--signup {
  font-size: 1.2em;
  padding: 1em 0;
  flex: 1;
}

/* And here come react-select hacks!
 * I'm sorry for choosing this piece of shit */

.Select {
  margin: 1em 0;
  touch-action: manipulation;
}

.Select.is-disabled .Select-placeholder {
  background: #bbb;
  color: #fff;
}

.Select.is-disabled .Select-arrow {
  display: none;
}

.Select-control {
  font-size: 1.2em;
  border-radius: 0;
  touch-action: manipulation;
}

.Select-arrow {
  margin-top: 6px;
}
