/* And here come react-select hacks */

/* postcss-bem-linter: ignore */
.Select {
  margin: 1em 0;

  &.is-disabled &-placeholder {
    background: #bbb;
    color: #fff;
  }

  &.is-disabled &-arrow {
    display: none;
  }

  &-control {
    font-size: 1.2em;
    border-radius: 0;
  }

  &-arrow {
    margin-top: 6px;
  }
}
